header {
    text-align: center;
    background: linear-gradient(180deg, #000000cc, #00000040), url(./assets/jpg/fundin.jpg);
    color: azure;
    padding: 180px 50px;
    background-size: cover;
    background-position: center;
}
p.boatarde{color: rgb(112, 0, 0);}
   p {color: rgb(107, 0, 71);}
.content {
    margin-top: -63px;
    color: ghostwhite;
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 20px 8px rgb(50 50 50 / 77%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

html {
background: radial-gradient(#0000006b, #c1c1c1);
}
